<!DOCTYPE html>
<html>
    <head>
        <title>Search Engine</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>
    <body>

        <div class="container">
        <img class="img" src="https://www.ics.uci.edu/bin/img/logos/UCI17_Bren_ICS_2L_white-1200.png" alt="UCI">

            <form action="/search" method="POST">
                <input type="text" name="query" placeholder="Search...">
                <input type="submit" value="Search 🔍">
            </form>
        </div>
    </body>
</html>
